<div class="col-md-3 col-sm-6">
  <a href="<%= url_for(photo) %>" class="thumbnail photo<% if @current == photo.id%> current<% end %>"
     data-id="<%= photo.id %>"
     data-meta='<%= photo.metadata.to_json %>'
     data-type="<%= photo.video? ? 'video' : 'image' %>">
    <div class="thumbnail-container">
      <div class="thumbnail-wrapper">
        <div class="thumbnail-boundary">
          <img data-layzr="/thumbs/<%= photo.id %>">
          <% if photo.is_favorite? %>
            <i class="fa fa-heart fa-lg top-left"></i>
          <% end %>
          <% if photo.video? %>
            <i class="fa fa-film fa-lg bottom-right"></i>
          <% end %>
        </div>
      </div>
    </div>
  </a>
</div>
